@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
#rodape {
    background-color: rgb(239, 239, 239);
}
.card {
    min-height: 50vh;
    padding: 15px;
}

h5 {
    font-family:"Nosifer";
    color: rgb(93, 204, 255);
}
iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    bottom: 0;
    left: 0;
}